<link href=""
<!DOCTYPE html>
<html>
    <head>
     
        <title>YelpCamp</title>
          <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
<link rel="stylesheet" href="/stylesheets/main.css" >
 <link rel="stylesheet" href="/bootstrap/boot.css">

    </head>
    <body>
         
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <a href="/" class="navbar-brand">Camping</a>
      
      <div class="collapse navbar-collapse" >
          <ul class="navbar-nav ml-auto" >
          
           <li class="nav-item">
       
               
               <a href="/register" class="nav-link">register</a> </li>
               <li>
                    <a href="/login" class="nav-link">Login</a>
               </li>
              
           
   
          
               <li>
                     <a href="/logout" class="nav-link">Logout</a>
               
                </li> 
           
           
       </ul>
      </div> 
   </nav>